<%- include ("partials/header") %>

<div class ="ui main text container ">
                 <div class ="ui huge header"> </div>
                              <div class ="ui top attached segment">
                  <div class =" ui divided item">
                   <% blogs.forEach(function(blogs){%>
                            <div class =" ui segment">
                                <div class="content">
                                    <h2><bold> <a  class =" header" href="blogs/<%= blogs._id %>"> <%=blogs.title%></a></bold> </h2> 
                                    
                                </div>
                                <div class="meta"> 
                                    <h5><span><%= blogs.Created.toDateString() %></span></h5> 
                                </div> 
                                <div class="description"> 
                                    <p><%= blogs.body.substring(0, 00) %>..</p>
                                </div> 
                                <div class ="extra">
                                    <a class =" ui floated basic blue button"  style="float:right;" href="blogs/<%= blogs._id %>">Readmore.. </a>
                                    
                                </div>

                                 <div class="item"> 
                                    <img  class =" ui centered  medium image " src="<%= blogs.image%>">  
                                    

                                
                                    
                           
                                    <br>
                                    <br> 
                                    
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" style="float:right;" href="https://www.addtoany.com/share"></a>

</div>
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
                                    

                                 </div>  
                                
                                       
 
                                 </div>

                                        
                                            
                                            
                                            
                                          
                                                                       
                                                                     
                                                                     

                        
    
    <%}) %>
                            </div>
                  </div>   

             </div>
        </div>

 

<%- include ("partials/footer") %>